C:\SM_TOOL\kafka\bin\windows\zookeeper-server-start.bat C:\SM_TOOL\kafka\config\zookeeper.properties
C:\SM_TOOL\kafka\bin\windows\kafka-server-start.bat C:\SM_TOOL\kafka\config\server.properties

kafka-topics.bat --create --topic user-event --bootstrap-server localhost:9092
kafka-topics.bat --list --bootstrap-server localhost:9092
kafka-topics.bat --bootstrap-server localhost:9092 --delete --topic user-event